body {
    font-family: Arial, sans-serif;
    background-image: url("image/forest-mountains-sunset-cool-weather-minimalism.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.login-container, .dRegister-container {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Чтобы можно было расположить элементы внутри */
}

input[type="login"], input[type="password"], input[type="repass"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.logo {
    margin-bottom: 15px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    float: right; /* Выравнивание кнопки вправо */
    margin-bottom: 10px; /* Отступ снизу */
    }

